POSTGRES_USUARIO=banco
POSTGRES_CLAVE=banco-clave
CLIENTE_DEMO_CLAVE=cliente123
PORTAL_WEB_SECRET=portal-web-secret
APP_MOVIL_SECRET=app-movil-secret
CAJERO_CAJ001_SECRET=caj-001-secret
CAJERO_CAJ002_SECRET=caj-002-secret
BFF_WEB_SECRET=bff-web-secret
BFF_MOVIL_SECRET=bff-movil-secret
BFF_CAJERO_SECRET=bff-cajero-secret
